.sidebar__list {
	list-style: none;
	margin-bottom: 27px;
}

.all-todos {
	border: none;
	background: none;
	padding: 10px 10px 10px 12px;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 30px;
	gap: 6px;
	width: 100%;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.all-todos:hover {
	background-color: #FFFFFF;
}

.list__item {
	padding: 10px 10px 10px 12px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.list__item:hover {
	background: rgba(255, 255, 255, 0.6);
}

.list__item p {
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list__item.active {
	border-radius: 4px;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.04);
	background: rgb(255, 255, 255);
}

.list__item.todo__folders {
	font-size: 14px;
	font-weight: 600;
}

.list__item.todo__folders p {
	margin-left: 15px;
}

.badge {
	min-width: 10px;
	min-height: 10px;
	border-radius: 50%;
	position: relative;
	left: 4px;
}


